body {
    background-color: #f4f4f4;
    font-family: Arial;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
}

input, select, button {
    margin: 10px;
    padding: 8px;
    width: 80%;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
